{% extends '@layout/dual-content.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <br>
            <div id="map-container">
            </div>
        </div>
        <div class="row">
            <br>
            {% for venue in data.venues %}
                <div class="well">
                    <div class="media">
                        <a class="pull-left" href="/view/{{ venue.id }}">
                            <img class="media-object" src="{{ venue.defaultImage }}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{ venue.name }}</h4>
                            <p>{{ venue.description }}</p>
                            <ul class="list-inline list-unstyled">
                                <li><span><i class="glyphicon glyphicon-pushpin"></i> Iosia</span></li>
                                <li>|</li>
                                <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                                <li>|</li>
                                <li>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </li>
                                <li>|</li>
                                <li>
                                    <span><i class="fa fa-facebook-square"></i></span>
                                    <span><i class="fa fa-twitter-square"></i></span>
                                    <span><i class="fa fa-google-plus-square"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}