{% extends '@layout/dual-content.html.twig' %}

{% block content %}
<div id="background-image">
    <img src="https://s3.eu-central-1.amazonaws.com/mariotest2/oradea.jpg" id="bg" alt="">
</div>
{% endblock %}