/***** General *****/
/* The html and body elements cannot have any padding or margin. */
html,
body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 300;
}

h1 {
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #2C2C2C;
}

h2 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #2C2C2C;
}

h3 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #2C2C2C;
}

h4 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #2C2C2C;
}

a {
    color: #555ec4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

a:hover {
    color: #C60B31;
}

p {
    color: #B1B1B1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

label {
    color: #B1B1B1;
}

input.form-control {
    padding: 15px 15px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #E7E7E7;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
}

.btn-primary {
    height: 50px;
    border-radius: 2px;
    background: #C60B31;
    border-color: #C60B31;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: #333333;
}

/* Wrapper for page content to push down footer */
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -115px;
    background: #F5F5F5;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 115px;
}

/** Forms **/
.forms {
    padding: 80px 15px;
}

.forms h1 {
    margin-bottom: 40px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
}

.forms .no-account {
    margin-top: 15px;
    color: #929292;
}

.form-content {
    padding: 40px;
    background: #FFFFFF;
}

.form-content a {
    display: block;
    width: auto;
    margin-top: 15px;
    color: #999CA5;
}

.form-content .btn {
    margin-top: 15px;
}

#userMessage_textarea {
    resize: vertical;
}

@media ( max-width: 1199px) {
    .form-content {
        padding: 20px;
    }

    .form-content h1 {
        margin-bottom: 20px;
    }
}

.info-content {
    padding: 40px;
    background: #FFFFFF;
}

.info-content a {
    color: #999CA5;
}

@media ( max-width: 1199px) {
    .info-content {
        padding: 20px;
    }
}

/***** Header *****/
@media ( min-width: 1200px) {
    .app-header .container {
        padding: 15px 50px;
        width: 100%;
    }
}

.app-header .container {
    position: relative;
}

.alert > ul {
    list-style-type: square;
    padding-left: 20px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #FFFFFF;
    border: 0px;
    border-bottom: 1px solid #F6F6F6;
}

.navbar-header {
    position: relative;
    z-index: 15;
}

.navbar-brand {
    height: auto;
}

.navbar-brand img {
    display: block;
    width: 170px;
    height: 29px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #515151;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
}

.navbar-inverse .navbar-nav > li > a.user-menu-icon {
    padding: 0px;
    background: url("../img/user.png") no-repeat center center;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    font-size: 0px;
    color: transparent;
    text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a.user-menu-icon:hover {
    text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a.user-menu-icon .caret {
    display: none;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000000;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #000000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    color: #000000;
    background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #F6F6F6;
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #F6F6F6;
}

.navbar-nav .open .dropdown-menu .dropdown-header,
.navbar-nav .open .dropdown-menu > li > a {
    padding-left: 15px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #000000;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #000000;
    background: transparent;
}

.navbar .navbar-collapse {
    position: relative;
    text-align: center;
}

.navbar .navbar-center {
    position: relative;
    display: block;
    float: none;
    margin-left: -185px;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    z-index: 10;
}

.navbar .navbar-center > li {
    display: inline-block;
    float: none;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .navbar-center > li a i {
    display: none;
}

.navbar .navbar-center > li a .caret {
    color: #CCCCCC;
    border-top: 6px dashed;
    border-top: 6px solid \9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.navbar .navbar-right {
    position: absolute;
    top: 10px;
    right: 15px;
}

.navbar .navbar-right .user-login a {
    padding: 0px;
}

.navbar-inverse .navbar-toggle {
    margin-top: 20px;
    padding: 0px;
    background: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333333;
    height: 4px;
    width: 30px;
}

.navbar-inverse .navbar-toggle:focus .icon-bar,
.navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #BD1F3F;
}

@media ( max-width: 991px) {
    .navbar .navbar-center {
        float: left;
        margin-left: 0px;
        width: auto;
        padding-top: 9px;
        text-align: center;
    }

    .navbar .navbar-center > li {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar .navbar-center > li a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media ( max-width: 767px) {
    .navbar .navbar-center {
        width: 100%;
        text-align: left;
    }

    .navbar .navbar-center > li {
        display: block;
        float: left;
        width: 100%;
    }

    .navbar .navbar-center > li > a {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar .navbar-right {
        position: static;
        float: left;
        width: 100%;
        text-align: left;
        margin-left: 0px;
    }

    .navbar-inverse .navbar-nav > li > a.user-menu-icon {
        padding-top: 10px;
        padding-bottom: 10px;
        background: transparent;
        font-size: 16px;
        color: #515151;
        width: auto;
        height: auto;
    }

    .navbar-inverse .navbar-nav > li > a.user-menu-icon .caret {
        display: inline-block;
        color: #CCCCCC;
        border-top: 6px dashed;
        border-top: 6px solid \9;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
    }
}

/***** Footer *****/
.app-footer {
    padding: 30px 50px;
    background: #F9F9F9;
}

.app-footer p {
    margin-bottom: 0px;
    font-size: 16px;
}

.app-footer .enjoy {
    margin-bottom: 10px;
    font-size: 26px;
    color: #3B3B3B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

@media ( max-width: 768px) {
    .app-footer {
        padding: 30px 30px;
    }
}

/** General elements for pages **/
.page-intro {
    position: relative;
    padding: 120px 0px;
    background: #F6F6F6;
    text-align: center;
}

.page-intro p {
    margin: 0px auto;
    padding-bottom: 20px;
    font-size: 18px;
    color: #ABABAB;
    max-width: 880px;
}

.page-intro p a {
    color: #ABABAB;
}

.page-intro p.welcome {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #464646;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3em;
}

.page-intro h1 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 100px;
    letter-spacing: 5px;
}

@media ( max-width: 1199px) {
    .page-intro h1 {
        font-size: 86px;
    }
}

@media ( max-width: 991px) {
    .page-intro {
        padding: 100px 0px;
    }

    .page-intro h1 {
        font-size: 70px;
    }
}

@media ( max-width: 768px) {
    .page-intro {
        padding: 80px 0px 50px 0px;
    }

    .page-intro h1 {
        font-size: 50px;
    }
}

@media ( max-width: 500px) {
    .page-intro {
        padding: 80px 0px 0px 0px;
    }

    .page-intro h1 {
        font-size: 200%;
    }
}

/** Home page **/
.home-intro p.welcome {
    font-size: 26px;
}

.home-intro h1 {
    font-size: 80px;
}

.home-intro .arrow_down {
    position: absolute;
    bottom: -102px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.home-intro .arrow_down .arrow_down_content {
    margin: 0px auto;
    background: url("../img/arrow_center.png") no-repeat center center;
    width: 654px;
    height: 103px;
}

@media ( max-width: 991px) {
    .home-intro h1 {
        font-size: 60px;
    }
}

@media ( max-width: 768px) {
    .home-intro h1 {
        font-size: 34px;
    }

    .home-intro .arrow_down .arrow_down_content {
        width: 100%;
    }
}

.home-list {
    padding-top: 150px;
    padding-bottom: 70px;
    background: #FFFFFF;
    text-align: center;
}

.home-list .col-md-4 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.home-list h2 {
    margin-top: 50px;
}

.home-list h2,
.home-list h2 a {
    font-size: 42px;
    color: #2C2C2C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.home-list h3 a {
    font-size: 30px;
    color: #2C2C2C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.home-list .panel-group {
    margin-top: 30px;
    text-align: left;
}

.home-list .panel-default {
    border-color: transparent;
    box-shadow: none;
}

.home-list .panel-group .panel + .panel {
    margin-top: 0px;
}

.home-list .panel-group .panel {
    border-radius: 0px;
    border-bottom: 1px solid #B8B8B8;
}

.home-list .panel-heading {
    padding: 15px;
    border-radius: 0px;
    background-color: transparent;
}

.home-list .panel-heading h4 a {
    text-decoration: none;
    color: #555ec4;
    font-size: 26px;
}

.home-list .panel-heading h4 a.open {
    padding-left: 30px;
    background: url("../img/open.png") no-repeat left center;
}

.home-list .panel-heading h4 a.closed {
    padding-left: 30px;
    background: url("../img/close.png") no-repeat left center;
}

.home-list .panel-heading h4 a:hover {
    color: #000000;
}

.home-list .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}

.home-list .panel-body ul {
    padding-left: 20px;
    margin: 0px;
}

.home-list .panel-body ul li {
    line-height: 1.3em;
}

@media ( max-width: 1199px) {
    .home-list h2,
    .home-list h2 a {
        font-size: 36px;
    }
}

@media ( max-width: 767px) {
    .home-list h3 a {
        font-size: 26px;
    }

    .home-list .panel-heading h4 a {
        font-size: 20px;
        line-height: 1.3em;
    }
}

/** About page **/
.about-list {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #FFFFFF;
    text-align: center;
}

.about-list .col-md-4 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.about-list h2 a {
    font-size: 42px;
    color: #2C2C2C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

@media ( max-width: 1199px) {
    .about-list h2 a {
        font-size: 36px;
    }
}

/** Account settings **/
.account-intro {
    position: relative;
    padding: 60px 0px;
    background: #F6F6F6;
    text-align: center;
}

.account-intro h1 {
    margin-top: 0px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
}

.account-settings {
    padding: 0px 15px 0px 15px;
    background: #FFFFFF;
}

.account-settings .row {
    padding: 25px 25px 40px 25px;
}

.account-settings .btn-primary {
    width: auto !important;
}

.account-settings .sidebar {
    display: block;
}

.account-settings .sidebar-menu-header {
    position: relative;
    margin-top: 15px;
    padding: 10px 15px 10px 0px;
    color: #000000;
    border-bottom: 1px solid #E7E7E7;
    cursor: pointer;
    display: none;
    font-weight: 400;
    text-transform: uppercase;
}

.account-settings .sidebar-menu-header .burger-menu {
    position: absolute;
    top: 9px;
    right: 0px;
    width: 20px;
}

.account-settings .sidebar-menu-header .burger-menu span {
    display: block;
    margin: 3px 0px;
    height: 3px;
    background: #000000;
}

.account-settings .sidebar {
    margin-top: 15px;
}

.account-settings .nav-pills > li > a {
    border-radius: 0px;
}

.account-settings .nav-pills > li > a {
    padding-left: 0px;
}

.account-settings .nav-pills > li.active > a,
.account-settings .nav-pills > li.active > a:focus,
.account-settings .nav-pills > li.active > a:hover {
    background: transparent;
    color: #000000;
}

.account-settings .nav-pills > li > a:focus,
.account-settings .nav-pills > li > a:hover {
    background: transparent;
    color: #C60B31;
}

@media ( max-width: 767px) {
    .account-settings {
        padding: 0px;
    }

    .account-settings .row {
        padding: 15px 0px 30px 0px;
    }

    .sidebar-container {
        margin-bottom: 30px;
    }

    .sidebar-container .sidebar-menu-header {
        display: block;
    }

    .sidebar-container .sidebar {
        display: none;
    }

}

.account-settings p.not-implemented {
    margin-top: 15px;
    font-size: 20px;
}

.account-settings .spacer {
    height: 15px;
}

.account-settings p.intro {
    margin-top: 15px;
    font-size: 24px;
}

/** hacktm **/
.navbar-brand img {
    display: block;
    width: 170px;
    height: 32px;
}

.product-content {
    border: 1px solid #dfe5e9;
    margin-bottom: 20px;
    margin-top: 12px;
    background: #fff
}

.product-content .carousel-control.left {
    margin-left: 0
}

.product-content .product-image {
    background-color: #fff;
    display: block;
    min-height: 238px;
    overflow: hidden;
    position: relative
}

.product-content .product-deatil {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
    background: #fff
}

.product-content .product-deatil h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    padding-left: 0;
    margin-left: 0
}

.product-content .product-deatil h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px
}

.product-content .product-deatil span.tag1 {
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    height: 50px;
    padding: 13px 0;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 50px
}

.product-content .product-deatil span.sale {
    background-color: #21c2f8
}

.product-content .product-deatil span.discount {
    background-color: #71e134
}

.product-content .product-deatil span.hot {
    background-color: #fa9442
}

.product-content .description {
    font-size: 12.5px;
    line-height: 20px;
    padding: 10px 14px 16px 19px;
    background: #fff
}

.product-content .product-info {
    padding: 11px 19px 10px 20px
}

.product-content .product-info a.add-to-cart {
    color: #2f383d;
    font-size: 13px;
    padding-left: 16px
}

.product-content name.a {
    padding: 5px 10px;
    margin-left: 16px
}

.product-info.smart-form .btn {
    padding: 6px 12px;
    margin-left: 12px;
    margin-top: -10px
}

.product-entry .product-deatil {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative
}

.product-entry .product-deatil h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none
}

.product-entry .product-deatil h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px
}

.load-more-btn {
    background-color: #21c2f8;
    border-bottom: 2px solid #037ca5;
    border-radius: 2px;
    border-top: 2px solid #0cf;
    margin-top: 20px;
    padding: 9px 0;
    width: 100%
}

.product-block .product-deatil p.price-container span,
.product-content .product-deatil p.price-container span,
.product-entry .product-deatil p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
    color: #21c2f8;
    font-family: Lato, sans-serif;
    font-size: 24px;
    line-height: 20px
}

.product-info.smart-form .rating label {
    margin-top: 0
}

.product-wrap .product-image span.tag2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
    text-align: center
}

.product-wrap .product-image span.sale {
    background-color: #57889c
}

.product-wrap .product-image span.hot {
    background-color: #a90329
}

.shop-btn {
    position: relative
}

.shop-btn>span {
    background: #a90329;
    display: inline-block;
    font-size: 10px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    font-weight: 700;
    border-radius: 50%;
    padding: 2px 4px 3px!important;
    text-align: center;
    line-height: normal;
    width: 19px;
    top: -7px;
    left: -7px
}

.description-tabs {
    padding: 30px 0 5px!important
}

.description-tabs .tab-content {
    padding: 10px 0
}

.product-deatil {
    padding: 30px 30px 50px
}

.product-deatil hr+.description-tabs {
    padding: 0 0 5px!important
}

.product-deatil .carousel-control.left,
.product-deatil .carousel-control.right {
    background: none!important
}

.product-deatil .glyphicon {
    color: #3276b1
}

.product-deatil .product-image {
    border-right: none!important
}

.product-deatil .name {
    margin-top: 0;
    margin-bottom: 0
}

.product-deatil .name small {
    display: block
}

.product-deatil .name a {
    margin-left: 0
}

.product-deatil .price-container {
    font-size: 24px;
    margin: 0;
    font-weight: 300
}

.product-deatil .price-container small {
    font-size: 12px
}

.product-deatil .fa-2x {
    font-size: 16px!important
}

.product-deatil .fa-2x>h5 {
    font-size: 12px;
    margin: 0
}

.product-deatil .fa-2x+a,
.product-deatil .fa-2x+a+a {
    font-size: 13px
}

.profile-message ul {
    list-style: none ;
}

.product-deatil .certified {
    margin-top: 10px
}

.product-deatil .certified ul {
    padding-left: 0
}

.product-deatil .certified ul li:not(first-child) {
    margin-left: -3px
}

.product-deatil .certified ul li {
    display: inline-block;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 13px 19px
}

.product-deatil .certified ul li:first-child {
    border-right: none
}

.product-deatil .certified ul li a {
    text-align: left;
    font-size: 12px;
    color: #6d7a83;
    line-height: 16px;
    text-decoration: none
}

.product-deatil .certified ul li a span {
    display: block;
    color: #21c2f8;
    font-size: 13px;
    font-weight: 700;
    text-align: center
}

.product-deatil .message-text {
    width: calc(100% - 70px)
}

@media only screen and (min-width:1024px) {
    .product-content div[class*=col-md-4] {
        padding-right: 0
    }
    .product-content div[class*=col-md-8] {
        padding: 0 13px 0 0
    }
    .product-wrap div[class*=col-md-5] {
        padding-right: 0
    }
    .product-wrap div[class*=col-md-7] {
        padding: 0 13px 0 0
    }
    .product-content .product-image {
        border-right: 1px solid #dfe5e9
    }
    .product-content .product-info {
        position: relative
    }
}

.message img.online {
    width:40px;
    height:40px;
}

.btn-primary {
    background-color: #222222;
    color :#FFFFFF;
    border-radius: 25px;
    border-color: black;
}